/*.table {*/
/*    border: 5px solid black;*/
/*    width: 40%;*/
/*}*/
.table-desk {
    background-color: azure;
    border: 5px solid grey;
    border-collapse: collapse;
    width: 50px;
    height: 50px;
}
.black{
    background-color: black;
}
