body {
    font-family: "Montserrat", sans-serif;
}
.reviews-section {
    background-image: url("../image/img.png");
    background-size: cover;
    background-repeat: repeat;
}
.reviews-section-header {
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    color: rgba(51, 51, 51, 255);
    margin-bottom: 35px;
}
.reviews-section-description {
    font-size: 19px;
    color: rgba(77, 73, 67, 255);
    text-align: center;
    margin-bottom: 52px;
}
.reviews-section-line {
    width: 60px;
    height: 3px;
    border-color: #f1ad1d;
    background-color: #f1ad1d;
    text-align: center;
    margin-bottom: 60px;
}
.reviews-section-image {
    display: block;
    margin: 0 auto;
}
.text-navigator {
    text-transform: uppercase;
    display: inline-block;
    margin-top: 80px;
    margin-right: 230px;
    font-size: 28px;
    color: #f1ad1d;
}
.navbar {
    text-align: center;
}
.navmenu {
    display: inline-block;
    text-transform: uppercase;
}
.navigator {
    color: rgba(61, 61, 61, 255);
    text-decoration: none;
    margin-right: 40px;
    vertical-align: middle;
}
.navbar-line {
    border-color: #f1ad1d;
    background-color: #f1ad1d;
    width: 950px;

}
.margin-right-0 {
    margin-right: 0;
}
.image-content {
    width: 49%;
    display: inline-block;
    margin-bottom: 60px;
    margin-left: 8px;
}
.image-block-cons {
    display: inline-block;
    width: 270px;
    height: 148px;
    background-image: url("../image/pens.png");
    text-align: left;
}
.image-block-photo {
    display: inline-block;
    width: 270px;
    height: 148px;
    background-image: url("../image/women.png");
    text-align: left;
}
.image-block-design {
    display: inline-block;
    width: 270px;
    height: 148px;
    background-image: url("../image/men.png");
    text-align: left;
}
.image-block-ad {
    display: inline-block;
    width: 270px;
    height: 148px;
    background-image: url("../image/shower.png");
    text-align: left;
}
.image-block-text {
    display: inline-block;
    background: #333333;
    font-size: 16px;
    color: white;
    margin-left: 14px;
    margin-top: 96px;
    padding: 16px 36px 14px 14px;
}
.text-content {
    width: 49%;
    display: inline-block;
    vertical-align: top;
}
.review-business-consulting {
    font-size: 20px;
    color: #404040;
    text-transform: uppercase;
    margin: 0;
}
.review-business-consulting-span {
    font-size: 20px;
    color: #f1ad1d;
    text-transform: uppercase;
}
.button-check {
    display: inline-block;
    background: #f1ad1d;
    color: white;
    padding: 20px 28px 19px 27px;
    text-decoration: none;
    margin-top: 36px;
}
.team-members {
    margin: 0 auto 200px;
    width: 85%;
}

/*Фото и текст учасников*/
.team-member1 {
    background-image: url("../image/image1.png");
    width: 193px;
    height: 178px;
    background-repeat: no-repeat;
    float: left;
}
.team-member2 {
    background-image: url("../image/image2.png");
    width: 193px;
    height: 178px;
    background-repeat: no-repeat;
    margin-left: 2px;
    float: left;
}
.team-member3 {
    background-image: url("../image/image3.png");
    width: 193px;
    height: 178px;
    background-repeat: no-repeat;
    margin-left: 2px;
    float: left;
}
.team-member4 {
    background-image: url("../image/image4.png");
    width: 193px;
    height: 178px;
    background-repeat: no-repeat;
    margin-left: 2px;
    float: left;
}
.team-member5 {
    background-image: url("../image/image5.png");
    width: 193px;
    height: 178px;
    background-repeat: no-repeat;
    margin-left: 2px;
    float: left;
}
.team-member6 {
    background-image: url("../image/image6.png");
    width: 193px;
    height: 178px;
    background-repeat: no-repeat;
    margin-left: 2px;
    float: left;
}
.team-member7 {
    background-image: url("../image/image7.png");
    width: 193px;
    height: 178px;
    background-repeat: no-repeat;
    margin-left: 2px;
    float: left;
}
.team-member8 {
    background-image: url("../image/image8.png");
    width: 193px;
    height: 178px;
    background-repeat: no-repeat;
    margin-left: 2px;
    float: left;
}
.team-member9 {
    background-image: url("../image/image9.png");
    width: 193px;
    height: 178px;
    background-repeat: no-repeat;
    margin-left: 2px;
    float: left;
}
.team-member10 {
    background-image: url("../image/image10.png");
    width: 193px;
    height: 178px;
    background-repeat: no-repeat;
    margin-left: 2px;
    float: left;
}
.team-member11 {
    background-image: url("../image/image11.png");
    width: 193px;
    height: 178px;
    background-repeat: no-repeat;
    margin-left: 2px;
    float: left;
}
.team-member12 {
    background-image: url("../image/image12.png");
    width: 193px;
    height: 178px;
    background-repeat: no-repeat;
    margin-left: 2px;
    float: left;
}
.orange-text {
    color: #f1ad1d;
}

/*Блок текста*/
.member {
    background-color: #333333;
    font-size: 16px;
    display: inline-block;
    padding: 10px 5px;
    margin: 121px 29px 15px 11px ;
}
.clearfix::after {
    clear: both;
    content: ".";
    display: grid;
}
/*Classwork 7*/
.section-head {
    font-size: 24px;
    color: rgba(51, 51, 51, 255);
    text-align: center;
    margin-bottom: 35px;
}
.section-head-description {
    font-size: 19px;
    color: rgba(51, 51, 51, 255);
    text-align: center;
}


/*Classwork 8*/

.offer-section {
    padding: 0 130px;
    margin: 0 auto;
}

.offer {
    width: 270px;
    text-align: center;
    display: inline-block;
    border-bottom: 3px solid #333333;
    margin: 0 0 100px 10px;
}

.offer-title {
    font-size: 20px;
    color: white;
    background-color: #333333;
    padding: 22px 0;
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
}
.offer-icon {
    font-size: 45px;
    margin-bottom: 30px;
}

.offer-description {
    line-height: 20px;
    margin: 0 auto;
    color: #505050;
}
.offer-description::after {
    content: "";
    width: 60px;
    height: 3px;
    border-color: #f1ad1d;
    background-color: #f1ad1d;
    display: block;
    margin: 26px auto 28px;
}
.offer-list-title {
    font-size: 20px;
    color: rgba(80, 80, 80, 255);
    margin-bottom: 16px;
}
.offer-list {
    padding: 0;
}
.offer-list-item {
    list-style-type: none;
    font-size: 16px;
    color: rgba(80, 80, 80, 255);
    margin-bottom: 5px;
}
.offer-item-border {
    margin-bottom: 34px;
}


/*Classwork 9*/
.message-form-section {
    width: 580px;
    padding-left: 130px;
    margin-bottom: 50px;
}
.message-section-title {
    margin-bottom: 23px;
}
.message-title-text {
    color: white;
    font-size: 20px;
    padding-top: 22px;
    padding-left: 15px;
    width: 380px;
    height: 50px;
    background-color: #333333;
}
.message-form-section-description {
    font-size: 12px;
    color: rgba(80, 80, 80, 255);
    margin-bottom: 23px;
}
.input-information {
    width: 258px;
    height: 43px;
    padding-left: 12px;
    margin-bottom: 22px;
    font-size: 14px;
}
.margin-input-email {
    margin-left: 20px;
}
.input-message {
    width: 558px;
    height: 168px;
    padding-left: 12px;
    margin-bottom: 24px;
    font-size: 14px; 
}
.input-button-reset {
    width: 118px;
    height: 43px;
    background-color: #f1ad1d;
    border: #f1ad1d;
    color: white;
    text-align: center;
    font-size: 16px;
}
.input-button-submit {
    width: 118px;
    height: 43px;
    background-color: #f1ad1d;
    border: #f1ad1d;
    color: white;
    text-align: center;
    font-size: 16px;
    margin-left: 24px;
}