body{
    font-family: 'Roboto', sans-serif;
}
.sign-form {
    width: 400px;
    height: 700px;
    background-color: aquamarine;
    border-top: 8px solid gray;
    margin: 0 auto;
}
.form-container {
    padding: 30px;
}
.sign-text {
    font-size: 20px;
    margin-bottom: 30px;
}
.radio-label {
    margin-left: 40px;
    cursor: pointer;
}
.radio-label::before {
    content: "";

}
.radio-bottom {
    appearance: none;
    position: absolute;
}