body{
    font-family: 'Roboto', sans-serif;
}
/*Container block*/
.sign-form {
    width: 400px;
    height: 650px;
    position: absolute;
    left: 0;
    right: 0;
    top: calc(50% - 325px);
    margin: 0 auto;
    background-color: aquamarine;
    border-top: 8px solid gray;
}
/*Main container - information*/
.form-container {
    padding: 30px;
}
.sign-text {
    font-size: 20px;
    margin: 0 0 30px;
}
/*Radio bottoms*/
.form-radio-bottoms {
    margin-bottom: 20px;
}
.radio-have-auto {
    position: relative;
    display: inline-block;
}
.radio-bottom {
    display: none;
    position: absolute;
}
.radio-label {
    margin-left: 30px;
    cursor: pointer;
}
.radio-label::before {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid darkslategrey;
    background-color: azure;
    position: absolute;
    left: 0;
    top: 0;
}
.radio-label::after {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgba(24,29,111,0.89);
    position: absolute;
    left: 5px;
    top: 5px;
    opacity: 0;
}
.radio-bottom:checked + .radio-label::after {
    opacity: 1;
}
.radio-need-auto {
    float: right;
    margin-right: 60px;
    position: relative;
}
/*Inputs information*/
input {
    border: none;
}
.input-info {
    width: 85%;
    padding: 15px;
    margin-bottom: 8px;
    border: 1px solid rgba(24,29,111,0.89);
    border-radius: 2px;
    transition: 0.3s;
}
.input-info:focus {
    box-shadow: 0 2px 7px darkslategrey;
    transform: translate(8px);
}
.input-names {
    width: 129px;
}
.right-border {
    border-right: 0;
}
/*Select car*/
.select-button .select {
    width: 94%;
    background: aliceblue;
    font-size: 16px;
    padding: 8px;
    border-radius: 2px;
    border: 1px solid rgba(24,29,111,0.89);
    transition: 0.1s;
    -webkit-appearance: none;
}
.select-button {
    position: relative;
    margin-bottom: 8px;
}
.select-button::before {
    content: "";
    position: absolute;
    top: 1px;
    right: 20px;
    width: 35px;
    height: 35px;
    background: cadetblue;
    border-radius: 2px;
    border-left: 1px solid rgba(24,29,111,0.89);
    border-right: 1px solid rgba(24,29,111,0.89);
    pointer-events: none;
}
.select-button::after {
    content: "";
    position: absolute;
    display: block;
    border-style: solid;
    border-width: 10px 7px 0 7px;
    border-color: aqua transparent transparent transparent;
    top: 42%;
    right: 31px;
    pointer-events: none;
}
.last-input-margin {
    margin-bottom: 20px;
}

/*Lay out the form of the next page*/
.next-page {
    margin-bottom: 20px;
    border: 0;
    border-radius: 2px;
    background-color: cadetblue;
}
.next-page-text {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    color: aliceblue;
    display: inline-block;
    padding: 20px 259px 20px 15px;
    position: relative;
}
.next-page-text::after {
    content: "";
    position: absolute;
    right: 20px;
    top: 14px;
    border-bottom: solid black;
    padding: 7px;
}
i {
    border: solid black;
    border-width: 0 2px 2px 0;
    padding: 4px;
    position: absolute;
    float: right;
    right: 20px;
    top: 24px;
}
.arrow {
    -webkit-transform: rotate(-45deg);
}
/*Footer of the form*/
.form-footer {
    color: darkslategrey;
    font-weight: bold;
}
.login-link {
    text-decoration: none;
}
.login-link:hover {
    color: aliceblue;
}