.bg-black {
    background-color: black;
}

.bg-blue {
    background-color: blue;
}

.bg-yellow {
    background-color: yellow;
}

.bg-red {
    background-color: red;
}

.table-art {
    table-layout: fixed;
    border-collapse: collapse;
    border: 2px solid #000;
}

.table-art td {
    border: 2px solid #000;
}

.table-art-cell {
    width: 50px;
}

.table-art tr {
    height: 50px;
}

.table-art td {
    height: 50px;
}
